body {
    font-family: Arial;
    background: #f1f1f1;
    text-align: center;
}

.titre {
    background: black;
    color: white;
    padding: 15px;
    margin-bottom: 30px;
}

.container {
    display: flex;
    justify-content: space-around;
    width: 90%;
    margin: auto;
}

.card {
    background: white;
    padding: 20px;
    width: 40%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    text-align: left;
}

.card input, .card select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
}

button {
    width: 100%;
    background: #007bff;
    color: white;
    border: none;
    padding: 10px;
    margin-top: 15px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background: #005dc8;
}

.resultat {
    color: green;
    font-weight: bold;
    margin-top: 15px;
}

#history li {
    background: #eaeaea;
    padding: 8px;
    margin-top: 5px;
    border-radius: 5px;
    font-size: 14px;
}

footer {
    margin-top: 30px;
    background: black;
    color: white;
    padding: 10px;
}

footer a {
    color: skyblue;
    text-decoration: none;
}
